
#tfnewsearch{
		float:right;
		padding:380px;
	}
	.tftextinput{
		margin: 0;
		padding: 15px 160px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 25px 12px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

	#Title{
	width: 750px;
	margin-top: 0;
	margin-bottom: 0;	
	}

	#Buttons{
	width: 900px;
	margin-top: 0;
	margin-bottom: 0;
}



    #Managing_Symptoms{
        font-size: 25px;
        text-align: center;
        background-color: skyblue;
        border-radius: 10px;
        border-style: solid;
    	color: black;
        position: absolute;
        top: 500px;
        left: 210px;
    }
        
#Relationships{
        font-size: 25px;
        text-align: center;
        background-color: lightpink;
        border-radius: 10px;
    	color: black;
        border-style: solid;
        border-color: darkslategray;
        position: absolute;
        top: 500px;
        left: 500px;
    }    
    #Advocacy{
        font-size: 25px;
        text-align: center;
        background-color: darkseagreen;
        border-radius: 10px;
    	color: black;
        border-style: solid;
        border-color: darkslategray;
        position: absolute;
        top: 500px;
        left: 712px;
    }    
    #Coping{
        font-size: 25px;
        text-align: center;
        background-color: palegoldenrod;
        border-radius: 10px;
    	color: black;
        border-style: solid;
        border-color: darkslategray;
        position: absolute;
        top: 500px;
        left: 893px;
    }
        #Life_Advice{
        font-size: 25px;
        text-align: center;
        background-color: plum;
        border-radius: 10px;
    	color: black;
        border-style: solid;
        border-color: darkslategray;
        position: absolute;
        top: 500px;
        left: 1047px;
    }
    
    h7{
        font-size: 45px;
         position: absolute;
        top: 250px;
        left: 490px;
    }
    h8{
    	font-size: 20px;
    	text-align: center;
        padding: 10px;
        background-color: lemonchiffon;
        border-radius: 10px;
        color: darkslategray;
        border-style: solid;
        border-color: darkslategray;
    	position: absolute;
    	top: 47px;
    	left: 300px;
    	
    }
    
  ul{
	font-size: 25px;
    	list-style: none;
    	float: left;
    	margin: 0;
    	padding: 0px;
    	overflow: auto;
    	background-color: #89daf5;
    	position: fixed;
    	top: 0;
    	width: 100%;
	}
     
    li {
    	float: left;
    	}
	a {
    	display: inline-block;
    	color: black;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
    	border-right: 1px solid #bbb;
	}
/* Change the link color to #111 (black) on hover */
	li a:hover {
    	background-color: mediumseagreen;
	}
#Managing_Symptoms1 {
	font-size: 25px;
	width: 800px;
	margin-top: 100px;
	margin-bottom: 0;
	border-radius: 10px;
        border-style: solid;
        border-color: black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
#Relationships2 {
	font-size: 25px;
	width: 800px;
	margin-top: 100px;
	margin-bottom: 0;
	border-radius: 10px;
        border-style: solid;
        border-color: black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
#Life_Advice3 {
	font-size: 25px;
	width: 800px;
	margin-top: 100px;
	margin-bottom: 0;
	border-radius: 10px;
        border-style: solid;
        border-color: black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#Coping4 {
	font-size: 25px;
	width: 800px;
	margin-top: 100px;
	margin-bottom: 0;
	border-radius: 10px;
        border-style: solid;
        border-color: black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
#Advocacy5 {
	font-size: 25px;
	width: 800px;
	margin-top: 100px;
	margin-bottom: 0;
	border-radius: 10px;
        border-style: solid;
        border-color: black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#TipReturn {
	font-size: 25px;
		margin-top: -1000px;
		margin-bottom: 20px;
	width: 800px;
	border-radius: 10px;
        border-style: solid;
        border-color: black;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;	
}
